*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: monospace;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    position: sticky;
  }

  .socials {
    display: flex;
    gap: 15px;
  }

  .nav {
    display: flex;
    gap: 20px;
    list-style: none;
    
  }

  .nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  #section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section1 {
    display: flex;
    width: 80%;
    align-items: center;
  }

  .project-link {
    display: flex;
    gap: 10px;
  }

  .tag {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }